@page
@model ParkNet_Ricardo.Campos.Pages.Permits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Permit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vehicles" class="control-label"></label>
                <select>
                    @foreach (var vehicle in Model.Vehicles)
                    {
                        <option value="@vehicle.ID">@vehicle.Plate</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Permit.ParkingSpaceID" class="control-label"></label>
                <input asp-for="Permit.ParkingSpaceID" class="form-control" />
                <span asp-validation-for="Permit.ParkingSpaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
               <select
                   asp-for="CurrentParkID" asp-items="Model.SelectOptions">

               </select>
            </div>
            <div class="form-group">
                <label asp-for="Permit.PermitTariffID" class="control-label"></label>
                <select>                     
                    @foreach (var permitTariff in Model.PermitTariffs)
                    {
                        <option value="@permitTariff.ID">@permitTariff.Type</option>
                    }
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="Permit.StartDate" class="control-label"></label>
                <input asp-for="Permit.StartDate" class="form-control" />
                <span asp-validation-for="Permit.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.EndDate" class="control-label"></label>
                <input asp-for="Permit.EndDate" class="form-control" />
                <span asp-validation-for="Permit.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.Price" class="control-label"></label>
                <input asp-for="Permit.Price" class="form-control" />
                <span asp-validation-for="Permit.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
