@page
@model PARKNET.Pages.Permits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Permit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Permit.VehicleID" class="control-label">Vehicle</label>
                <select asp-for="Permit.VehicleID" class="form-control" asp-items="ViewBag.Vehicles"></select>

                <span asp-validation-for="Permit.VehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkID" class="control-label">Parks</label>
                <select asp-for="ParkID" class="form-control" asp-items="ViewBag.Parks"></select>
                <span asp-validation-for="ParkID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.PermitTariffID" class="control-label">PermitTariffs</label>
                <select asp-for="Permit.PermitTariffID" class="form-control" asp-items="ViewBag.PermitTariffs"></select>
                <span asp-validation-for="Permit.PermitTariffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.StartDate" class="control-label"></label>
                <input asp-for="Permit.StartDate" class="form-control" />
                <span asp-validation-for="Permit.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.EndDate" class="control-label"></label>
                <input asp-for="Permit.EndDate" class="form-control" />
                <span asp-validation-for="Permit.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permit.Price" class="control-label"></label>
                <input asp-for="Permit.Price" class="form-control" />
                <span asp-validation-for="Permit.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
