@page
@model PARKNET.Pages.Permits.ParkingSpaceSelectModel

@{
    ViewData["Title"] = "ParkingSpaceSelect";
}

<h1>ParkingSpaceSelect</h1>

<h4>Permit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <p>
                Price: @Model.Permit.Price
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                Park Layout:
            </p>
            @for (int i = 0; i < Model.ParkLayoutRows.Count; i++)
            {
                if (i == 0)
                {
                    <span>
                        &nbsp;</span>
                }
                var column = i + 1;
               <span style="font-weigth:bolder">
                   @column
               </span>
            }

            @for (var i = 0; i < Model.ParkLayoutRows.Count; i++)
            {
                var row = Model.ParkLayoutRows[i];
            <dd>
                <span style="font-weigth:bolder">
                        @Model.Alphabet[i]
                </span>

                    @Html.DisplayFor(model => row)
            </dd>
                if (row == "")
                {
                <br />
                }
            }


            <div class="form-group">
                <label asp-for="Permit.ParkingSpaceID" class="control-label">Parking Space</label>
                <select asp-for="Permit.ParkingSpaceID" asp-items="ViewBag.ParkingSpaces" class="form-control"></select>
                <span asp-validation-for="Permit.ParkingSpaceID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
