@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PARKNET</h1>
    <br />
    <p>
        This is a system developed in ASP.NET 8 for the integrated management of parking lots by ParkNet, a service company. 
    </p>
    <p>
        The system allows clients to perform operations such as registration, purchase of passes, balance loading, and activity history checking. 
    </p>
    <p>
        The administrator has additional functionalities for managing parking lots, clients, and pricing.
    </p>
</div>
